#leftPanel {
  background-color: #4D394B;
  position: absolute;
  height: 100%;
  color: rgb(241, 209, 239);
  font-size: 18px;
  width: 16%;
  overflow: auto;
  overflow-x: hidden;
}

#name {
  margin: 10px;
  font-family: Calibri, serif;
  font-weight: bold;
  width: 70%
}

#signout {
  width: 20%;
  position: relative;
  margin-top: -13%;
  left: 75%
}

#signout i {
  color: aliceblue;
  cursor: pointer;
}

#searchChannel input {
  padding: 6px;
  background-color: #f2f0ff;
  border: none;
  width: 120px;
  margin: 10px 2px 10px 10px;
}

#searchChannel button {
  margin-left: 2px;
  padding: 6px;
  border: none;
  background-color: #4C9689;
  color: white;
  width: 22%;
}

#createChannel input {
  padding: 6px;
  background-color: #f2f0ff;
  border: none;
  width: 120px;
  margin: 10px 2px 10px 10px;
}

#createChannel button {
  margin-left: 2px;
  padding: 6px;
  border: none;
  background-color: #4C9689;
  color: white;
  width: 22%;
}

#leftPanel h2 {
  margin: 10px 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#channelHeading {
  width: 55%;
}

#channelIcon {
  left: 55%;
  position: relative;
  margin-top: -14%;
  width: 10%;
  cursor: pointer;
}

#joinChannel {
  width: 70%;
  cursor: pointer;
  position: relative;
  margin-top: -11%;
  left: 9%;
}

#joinedChannels {
  margin-top: 10%;
}

#displayJoinChannels {
  width: 70%;
  position: relative;
  left: 10%;
  margin-top: -11%;
}

#rightPanel {
  width: 85%;
  left: 15%;
  position: absolute;
  height: 100%;
  background-color: white;
}

#innerRightPanel {
  overflow: auto;
  margin-left: 20px;
  height: 80%;
  width: 84%;
  position: absolute;
}

#channels a {
  cursor: pointer;
}

.channelFields {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 8px 15px;
  color: rgb(187, 155, 185);
  width: 200px;
}

.channelFields i {
  left: 150px;
  position: absolute;
  cursor: pointer;
}

.channelFields:hover {
  background-color: #311f2f;
}

.channelFields:active {
  background-color: #4C9689;
  ;
}

#messages {
  top: 10%;
  position: relative;
}

#messageBox {
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  width: 800px;
  left: 15%;
  top: 90%;
  position: absolute;
}

#messageBar {
  position: absolute;
  top: 90%;
}

#sendButton {
  width: 80px;
  padding: 5px;
  top: 90%;
  left: 78%;
  position: absolute;
}

#channelName{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 20px 30px 20px 30px;
}

#messages{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 5px;
  border-radius: 2px;
  background: rgb(243, 226, 245);
  position: relative;
  left: 2%;
  margin: 2px 2px 8px 2px;
  width: 65%;
}

#time{
  float: right;
  margin-right: 10px;
}
#chat {
  margin-left: 200px;
  padding: 10px;
  font-family: Calibri, serif;
}