#leftPanel {
  background-color: #4D394B;
  position: absolute;
  height: 100%;
  color: rgb(226, 194, 224);
  font-size: 16px;
  width: 15%;
  overflow: auto;
  overflow-x: hidden;
}
#name{
  margin: 10px;
  font-family: Calibri, serif;
  font-weight: bold;
}
#leftPanel h2 {
  margin: 20px 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#leftPanel input{
  padding: 5px;
  margin: 10px 2px 10px 10px;
  width: 120px;
}
#leftPanel button{
  padding: 5px;
}
#leftPanel i{
  padding: 10px;
}

#channels {
  top: 2%;
  position: relative;
}

#rightPanel {
  width: 85%;
  left: 15%;
  position: absolute;
  height: 100%;
  background-color: white;
}
#innerRightPanel{
  overflow: auto;;
  height: 80%;
  width: 84%;
  position: absolute;
}

#channels a {
  cursor: pointer;
}

.channelFields {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 8px 15px;
  color: rgb(187, 155, 185);
  width: 200px;
}
.channelFields i{
  left: 150px;
  position: absolute;
  cursor: pointer;
}
.channelFields:hover{
  background-color: #311f2f;
}

.channelFields:active{
  background-color: #4C9689;;
}
#messages{
  top:10%;
  position: relative;
}
#messageBox{
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  width: 800px;
  left: 15%;
  top: 90%;
  position: absolute;
}
#messageBar{
  position: absolute;
  top: 90%;
}
#sendButton{
  width: 80px;
  padding: 5px;
  top: 90%;
  left: 78%;
  position: absolute;
}
#chat{
  margin-left: 200px;
  padding: 10px;
  font-family: Calibri, serif;
}
